body{
    background-color: black;
}
table, th, td{
    border: 5px solid black;
    border-collapse:collapse;
    height: 5px;
    width: 5px;
}
.jen{
    text-align: center ;
    background-color:#eaffff;
}
.violet{
    text-align: center;  
    background-color:violet; 
}
.yellow{
    text-align: center;
    background-color: yellow ;
}
.orange{
    background-color:orange;
    text-align: center;
} 
.gray{
    text-align: center;
    background-color:gray;
}
.pink{
    text-align: center;
    background-color:pink;
}
.redo{
    text-align: center;
    background-color:#ff7f6a;
}
.Magnesium{
    text-align: center
} 
.yellowgreen{
    text-align: center;
    background-color:#ceff55;
} 
.blue{
    background-color:#40e0ff;
    text-align: center ;
}
.ronvi{
    text-align: center;
}
.ong{
    text-align: center
}
.Oni{
    text-align: center
}
.green{
    background-color:#91ff80;
    text-align: center;
}
.red{
    background-color:#ff2b5f;
    text-align: center ;
}