body{
background-color: black;
    background-size: cover;

}

.p1{
    padding-top: 20px;
}
.p{
    padding-top: 20px
}
.pagination{
    padding-top: 20px;
}
#section2 h1 {
border-style: double;
}
#section1 h1 {
    border-style: double;
    }
.pagination{
    justify-content: center;
}