 .navbar{
color: rgb(0, 0, 0);
border-style: double;
background-color: rgb(0, 30, 255);
box-shadow: 0 0 10px #c5bbbb,
0 0 20px #0fb038,
0 0 40px #001eff,
0 0 50px #faf6f6;
}
.navbar:hover{
    color:rgb(9, 9, 9);
    background-color: rgb(7, 32, 226);
    box-shadow: 0 0 10px #c5bbbb,
    0 0 20px #0fb038,
    0 0 40px #0520eb,
    0 0 100px #faf6f6;
    transition: 1s;
}


.masthead{
    background-image:url(../images/wallpaper.jpg) ;
    background-size: cover;
 
}
.masthead-avatar{
    height: 400px;
    width: 400px;
    border-style: double;
}
.masthead-avatar:hover{
    color:rgb(9, 9, 9);
    background-color: rgb(7, 32, 226);
    box-shadow: 0 0 10px #c5bbbb,
    0 0 20px #0fb038,
    0 0 40px #0520eb,
    0 0 100px #faf6f6;
    transition: 1s;
}


#portfolio{
    background-image:url(../images/wallpaper.jpg) ;
    background-size: cover;
}
.portfolio1{
color: rgb(0, 0, 0);
border-style: double;
background-color: rgb(0, 30, 255);
box-shadow: 0 0 10px #c5bbbb,
0 0 20px #0fb038,
0 0 40px #001eff,
0 0 50px #faf6f6;
}
.portfolio1:hover{
    color:rgb(0, 0, 0);
    background-color: rgb(7, 32, 226);
    box-shadow: 0 0 10px #c5bbbb,
    0 0 20px #0fb038,
    0 0 40px #1e06fa,
    0 0 100px #fbfbfc;
}

.navbar{
    height: 50px;
}
.masthead-avatar{
    height: 400px;
    width: 400px;
}
#carouselExampleIndicators:hover{
    color:rgb(250, 249, 249);
    background-color: rgb(7, 32, 226);
    box-shadow: 0 0 10px #c5bbbb,
    0 0 20px #0fb038,
    0 0 40px #6d05eb,
    0 0 80px #876a6a;
}
#about{
    background-image: url(../images/wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.about1{
    text-align: center;
    color: rgb(0, 0, 0);
border-style: double;
background-color: rgb(0, 30, 255);
box-shadow: 0 0 10px #c5bbbb,
0 0 20px #0fb038,
0 0 40px #001eff,
0 0 50px #faf6f6;
}

#about1:hover{
    color:rgb(251, 251, 251);
    background-color: rgb(3, 32, 255);
    box-shadow: 0 0 10px #c5bbbb,
    0 0 20px #0fb038,
    0 0 40px #1e06fa,
    0 0 100px #fbfbfc;
}

.mx-auto{
    color: black;
    max-width: 100%;
    border-style: double;
    height: 300px;
    width: 300px;
    background-color: rgb(0, 30, 255);

}

.carousel{
max-width: fit-content;
}

.team-item .team-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    transform: scale(0);
    transition: .5s;
}

.team-item:hover .team-overlay {
    transform: scale(1);
}

.team-item .team-overlay .btn {
    color: var(--primary);
    background: #030bfa;
}

.team-item .team-overlay .btn:hover {
    color: #f1f1f1;
    background: var(--primary)
}

.team-item:hover{
    color:rgb(241, 240, 240);
    background-color: rgb(51, 52, 55);
    box-shadow: 0 0 10px #0e0e0e,
    0 0 20px #0fb038,
    0 0 40px #1e06fa,
    0 0 100px #fbfbfc;
    transition: 0.5s;
}

.team-item img{
height: 200px;
width: 200px;
}

.team-item text:hover{
    color:rgb(0, 0, 0);
    background-color: rgb(51, 52, 55);
    box-shadow: 0 0 10px #0e0e0e,
    0 0 20px #0fb038,
    0 0 40px #1e06fa,
    0 0 100px #fbfbfc;
    transition: 1s;
}
#contact{
    background-image:url(../images/wallpaper.jpg) ;
    background-size: cover;
}

.contact {
    background-image:url(../images/wallpaper.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
  
}

.contact .titlepage::before {
    right: inherit;
    border: #2e2f34 solid 5px;
    left: 15px;
}

.main_form .contactus {
    border: #0707ef solid 2px;
    padding: 0 15px;
    margin-bottom: 25px;
    width: 100%;
    height: 71px;
    background: #fff;
    color: #888888;
    font-size: 16px;
    font-weight: normal;
    box-shadow: 0 0 10px #0e0e0e,
    0 0 20px #2d07d6,
    0 0 40px #1e06fa,
    0 0 100px #fbfbfc;
}

.main_form .textarea {
    border: #0707ef solid 2px;
    margin-bottom: 25px;
    width: 100%;
    background: #f7f7f7;
    color: #f9f9f9;
    font-size: 18px;
    font-weight: normal;
    padding: 57px 15px 0 15px;
    border-radius: 0;
    height: 150px;
    box-shadow: 0 0 10px #0e0e0e,
    0 0 20px #2d07d6,
    0 0 40px #1e06fa,
    0 0 100px #fbfbfc;
}

.main_form .send_btn {
    font-size: 17px;
    transition: ease-in all 0.5s;
    background-color: #03082f;
    text-transform: uppercase;
    color: #055ba7;
    padding: 25px 0px;
    max-width: 252px;
    width: 100%;
    display: block;
    margin-top: 10px !important;
    font-weight: bold;
    
}

.main_form .send_btn:hover {
    background-color: #000000c7;
    transition: ease-in all 0.5s;
    color: #f9fcff;
    box-shadow: 0 0 10px #0e0e0e,
    0 0 20px #2d07d6,
    0 0 40px #1e06fa,
    0 0 100px #fbfbfc;

}

#request *::placeholder {
    color: #000000;
    opacity:1;
    
}
#contact img{
    height: 100px;
    width: 100px;
   
    
}
.rjf{
    color: rgb(255, 250, 250);
    box-shadow: 0 0 10px #0e0e0e,
    0 0 20px #2d07d6,
    0 0 40px #1e06fa,
    0 0 100px #fbfbfc;
}
.text{
    border-style: double;
    color: white;
}

.text-white p{
color: white;
}
#activities{
    background-image: url(../images/wallpaper.jpg);
    background-size: cover;
    max-height: 400vh;
}
.card-img-top{
    color: rgb(255, 250, 250);
    box-shadow: 0 0 10px #0e0e0e,
    0 0 20px #2d07d6,
    0 0 40px #1e06fa,
    0 0 100px #fbfbfc;
    height:200px ;
}


