body{
    background-image: url(../images/wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.pics{
    height: 410px;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.second{
    text-align: center;
}

.title{
    background-color: rgb(18, 28, 224);
}
.img-fluid{
    height: 300px;
    width: 400px;
    border-style: double;
}

.img-fluid:hover{
    color:rgb(241, 240, 240);
    background-color: rgb(51, 52, 55);
    box-shadow: 0 0 10px #0e0e0e,
    0 0 20px #0fb038,
    0 0 40px #1e06fa,
    0 0 100px #fbfbfc;
    transition: 0.5s;
}

h4{
    color: rgb(33, 33, 162);
}

h1{
    color: rgb(1, 1, 1);
    color:rgb(241, 240, 240);
    background-color: rgb(56, 6, 156);
    box-shadow: 0 0 10px #0e0e0e,
    0 0 20px #0fb038,
    0 0 40px #1e06fa,
    0 0 50px #fbfbfc;
}
