  body{
    background-color: #000000;
    max-width: 100%;
  }
  
  .name1{
    color: rgb(255, 196, 0);
  }
  
  .name2{
    color: rgb(218, 87, 0);
  }
  
  .name3{
    color: rgb(0, 102, 236);
  }
  
  .name4{
    color: rgb(4, 0, 53);
  }
  
  .name5{
    color: rgb(170, 170, 170);
  }
  
  .name6{
    color: rgb(170, 0, 105);
  }
  
  .name7{
    color: rgb(44, 153, 255);
  }
  
  .name8{
    color: rgb(95, 0, 184);
  }
  
  .name9{
    color: rgb(185, 37, 0);
  }
  
  .name10{
    color: rgb(80, 150, 0);
  }

  .periodic{
    font-size: 45px;
    color: #ffffff;
  }
  
  .parent{
    justify-content: center;
    display: flex;
    align-items: center;
    max-width: 90%;
  }
  
  .container{
    display: inline-block;
  }
  
  .vdiv1{
    height: 20px;
    width: 170px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px;
    margin-bottom: 2px;
    font-weight: bold;
  }

  .title{
    height: 50px;
    width: 500px;
    background-image: linear-gradient(rgb(4, 32, 249), rgb(0, 0, 0));
    border-style: double;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .onediv{
    background-image: linear-gradient(rgb(0, 255, 191), rgb(165, 165, 165));
    height: 20px;
    width: 20px;
    border: 5px;
    border-radius: 50%;
    margin-top: 1.5px;
  }
  
  .onediv1{
    background-image: linear-gradient(rgb(255, 196, 0), rgb(31, 31, 31));
  
   
  }
  

  .onediv2{
    background-image: linear-gradient(rgb(218, 87, 0), rgb(31, 31, 31));
  }
  
  .onediv3{
    background-image: linear-gradient(rgb(0, 102, 236), rgb(31, 31, 31));
  }
  
  .onediv4{
    background-image: linear-gradient(rgb(4, 0, 53), rgb(31, 31, 31));
  }
  
  .onediv5{
    background-image: linear-gradient(rgb(170, 170, 170), rgb(31, 31, 31));
  }
  
  .onediv6{
    background-image: linear-gradient(rgb(170, 0, 105), rgb(31, 31, 31));
  }
  
  .onediv7{
    background-image: linear-gradient(rgb(44, 153, 255), rgb(31, 31, 31));
  }
  
  .onediv8{
    background-image: linear-gradient(rgb(95, 0, 184), rgb(31, 31, 31));
  }
  
  .onediv9{
    background-image: linear-gradient(rgb(185, 37, 0), rgb(31, 31, 31));
  }
  
  .onediv10{
    background-image: linear-gradient(rgb(80, 150, 0), rgb(31, 31, 31));
  }
  
  .div1{
    margin-left: 20px;
    background-image: linear-gradient(rgb(0, 255, 191), rgb(37, 37, 37));
    height: 120px;
    width: 120px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    font-weight: bold;
  }
  
  .fp{
    font-size: 15px;
    color: #000000;
  }
  
  .fp1{
    font-size: 50px;
    color: #000000;
  }
  
  .div2{
    height: auto;
    width: auto;
    text-align: start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 3px;
    color: white;
  }
  
  .sp{
    font-size: 15px;
  }
  
  table{
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }
  
  tr td{
    background-color: aqua;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
  
  td{
    transition: transform;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    color: #ffffff;
  }
  
  td:hover {
    transform:scale(3);
  }
  
  p{
    font-size: 3px;
    padding: 1px;
    margin: 0px;
  }
  
  .borderless{
    border: none;
    background-color: #000000;
  }
  
  .borderless:hover {
    transform: none;
    border: none;
  }
  
  h1{
    padding: 0px;
    margin: 0px;
    font-size: 20px;
  }
  
  .dblue{
    background-image: linear-gradient(rgb(0, 255, 191), rgb(31, 31, 31));
  }
  
  .violet{
    background-image: linear-gradient(rgb(95, 0, 184), rgb(31, 31, 31));
  }
  
  .gold{
    background-image: linear-gradient(rgb(255, 196, 0), rgb(31, 31, 31));
  }
  
  .obrown{
    background-image: linear-gradient(rgb(218, 87, 0), rgb(31, 31, 31));
  }
  
  .blue{
    background-image: linear-gradient(rgb(0, 102, 236), rgb(31, 31, 31));
  }
  
  .pink{
    background-image: linear-gradient(rgb(170, 0, 105), rgb(31, 31, 31));
  }
  
  .grey{
    background-image: linear-gradient(rgb(170, 170, 170), rgb(31, 31, 31));
  }
  
  .black{
    background-image: linear-gradient(rgb(4, 0, 53), rgb(31, 31, 31));
  }
  
  .sblue{
    background-image: linear-gradient(rgb(44, 153, 255), rgb(31, 31, 31));
  }
  
  .red{
    background-image: linear-gradient(rgb(185, 37, 0), rgb(31, 31, 31));
  }
  
  .green{
    background-image: linear-gradient(rgb(80, 150, 0), rgb(31, 31, 31));
  }